<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xn--vinculacindesarrollo-j8b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>xn--vinculacindesarrollo-j8b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vinculaciónDesarrollo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$xn--vinculacindesarrollo-j8b</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VINCULACIONConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=anrotoba.database.windows.net;Initial Catalog=VINCULACION;User ID=Anthony;Password=A1723551055jr" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=anrotoba.database.windows.net;Initial Catalog=VINCULACION;User ID=Anthony;Password=A1723551055jr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VINCULACIONConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=anrotoba.database.windows.net;Initial Catalog=VINCULACION;User ID=Anthony;Password=A1723551055jr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VINCULACIONConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=anrotoba.database.windows.net;Initial Catalog=VINCULACION;User ID=Anthony;Password=A1723551055jr</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>