<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionDatos.Configuracion.cadena" connectionString="Data Source=anrotoba.database.windows.net;Initial Catalog=VINCULACIONESPE;User ID=Anthony;Password=A1723551055jr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>